[Unit]
Description=Demonio de Servidor de Comunicaciones
After=syslog.target
[Service]
Type=simple
ExecStart=python3 /home/ubuntu-user/Documentos/Roraima/git_files/python/Roraima_server.py
WorkingDirectory= /home/ubuntu-user/Documentos/Roraima
User=ubuntu_user
StandartOutput=syslog
StandartError=syslog
[Install]
WantedBy=multi-user.target
