[Unit]
Description=My Python daemon

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/ubuntu-user/Documentos/Roraima/git_files/python/Roraima_server.py
WorkingDirectory=/home/ubuntu-user/Documentos/
User=ubuntu-user

[Install]
WantedBy=sysinit.target
